{%- if site.posts.size > 0 -%}
<h1>{{ page.list_title | default: "Posts" }}</h1>
<div class="col spaced">
  {%- for post in site.posts -%}
  <a class="simple-card borderless" href="{{ post.url | relative_url }}">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <h2>
      {{ post.title | escape }}
    </h2>
    {%- if site.show_excerpts -%}
    <div class='fading-container'>
      {{ post.excerpt }}
    </div>
    {%- endif -%}
  </a>
  {%- endfor -%}
</div>
<p class="rss-subscribe">subscribe <a href="{{ '/feed.xml' | relative_url }}">via RSS</a></p>
{%- endif -%}