{%- if site.projects.size > 0 -%}
<h1>Projects</h1>
<div class='row wrap spaced'>
  {%- for project in site.projects -%}
  {% capture stripped_content %}{{project.content | strip}}{% endcapture %}
  <a class='simple-card col'
    href="{% if stripped_content == '' and project.external_url %}{{project.external_url}}{% else %}{{project.url}}{% endif %}">
    <h3 class='wrap-content text-primary'>{{project.name}}</h3>
    <div class='sub-text wrap-content'>{{project.description}}</div>
    {% if project.categories.size > 0 %}
    <div class='row justify-content-end sub-text spaced-half'>
      {% for category in project.categories %}
      <div class='chip'>{{category}}</div>
      {% endfor %}
    </div>
    {%- endif -%}
  </a>
  {%- endfor -%}
</div>
{%- endif -%}