@import 'colors';
@import 'dimens';

.button {
    padding: $spacing;
    border-radius: $spacing;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;

    &-primary {
        @extend .button;
        background-color: var(--color-interactive);
        border-color: var(--color-interactive);
        color: var(--color-text-dark);

        &:hover {
            background-color: var(--color-interactive-focused);
        }

        &:active {
            background-color: var(--color-interactive-active);
        }
    }

    &-secondary {
        @extend .button;
        border-color: var(--color-surface-3);
        color: var(--color-text);

        &:hover {
            background-color: var(--color-surface-transparent);
        }

        &:active {
            background-color: var(--color-surface-2-transparent);
        }
    }
}