@import 'prelude';

.simple-card {
  border: 1px solid var(--color-outline);
  padding: $spacing-double;
  background-color: var(--color-surface);
  flex-grow: 1;

  &.borderless {
    border: none;
  }
}

a.simple-card:hover {
  background-color: var(--color-surface-2);
}

.fading-container {
  -webkit-mask-image: linear-gradient(to bottom, black, transparent 100%);
  mask-image: linear-gradient(to bottom, black, transparent 100%);
}

// .simple-card a:any-link, a.simple-card:any-link {
a.simple-card:any-link {
  color: var(--color-text);
  text-decoration: none;
}

// a.simple-card :link {
//   text-decoration: none !important;
// }
// a.simple-card :hover {
//   text-decoration: none;
// }