@import 'prelude';

.simple-card {
  border: 1px solid $color-outline;
  padding: $spacing-double;
  background-color: $color-surface;
  flex-grow: 1;

  &.borderless {
    border: none;
  }
}

.simple-card:hover {
  background-color: $color-surface-2;
}

.fading-container {
  -webkit-mask-image: linear-gradient(to bottom, black, transparent 100%);
  mask-image: linear-gradient(to bottom, black, transparent 100%);
}

a.simple-card {
  color: $color-text;
  text-decoration: none;
}
// a.simple-card :link {
//   text-decoration: none !important;
// }
// a.simple-card :hover {
//   text-decoration: none;
// }