@import 'prelude';

.chip {
  text-align: center;
  font-size: smaller;
  border-radius: $spacing;
  padding: $spacing-half;
  background-color: var(--color-primary-lighter);
  color: var(--color-text-dark);
}