$color-gray: #BFBFBF;
$color-fern: #285954;
$color-royal-dark: #020659;
$color-royal: #2F3273;
$color-royal-light: #5D5F8C;

$color-primary: $color-royal;
$color-primary-dark: $color-royal-dark;
$color-primary-light: $color-royal-light;

$color-secondary: $color-fern;

$color-surface: lighten($color-gray, 20%);
$color-surface-2: lighten($color-gray, 15%);
$color-surface-3: lighten($color-gray, 10%);
$color-surface-dark: darken($color-gray, 65%);
$color-surface-dark-2: darken($color-gray, 60%);
$color-surface-dark-3: darken($color-gray, 55%);

$color-outline: $color-gray;
$color-outline-dark: $color-gray;

$color-text: darken($color-royal-dark, 5%);
$color-text-dark: lighten($color-royal-dark, 80%);