@import 'colors';
@import 'dimens';
@import 'button';
@import 'card';

#cookie-notice {
    @extend .simple-card;
    position: fixed;
    bottom: $spacing-double;
    left: $spacing-double;
    padding: $spacing-double;
}

#cookie-notice-accept {
    @extend .button-primary;
}

#cookie-notice-deny {
    @extend .button-secondary;
}