@import 'colors';

.sub-text {
  font-size: small;
  text-justify: center;
}

.text-centered {
  text-align: center;
  text-justify: center;
}

.text-primary {
  color: var(--color-primary);

  &-dark {
    color: var(--color-primary-darker);
  }

  &-light {
    color: var(--color-primary-lighter);
  }
}

.text-secondary {
  color: var(--color-secondary);
}